<div class="animated fadeIn">
  <div class="row" *ngIf="gpiManagerDashboardReport.size > 0">
    <div class="col-sm-6 col-lg-6" *ngFor="let prop of gpiManagerDashboardReport | keyvalue">
      <div class="card">
        <div class="card-header">
          <a href="/#/gpi">Gestão de Processos Industriais - {{prop.key}}</a>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <div id="chart-container">
              <canvas baseChart class="chart" [data]="prop.value" [labels]="doughnutChartLabels"
                [chartType]="doughnutChartType" [options]="chartOptions"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-6 col-lg-16" *ngIf="standardManager !== undefined">

      <div class="card">
        <div class="card-header">
          <a href="/#/standard">Gestão de Normas</a>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <div id="chart-container">
              <canvas baseChart class="chart" [data]="standardManagerDoughnutChartData"
                [labels]="standardManagerDoughnutChartLabels" [chartType]="standardManagerDoughnutChartType"
                [options]="chartOptions"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 col-lg-16" *ngIf="gcaManager !== undefined">
      <div class="card">
        <div class="card-header">
          <a href="/#/gca">Gestão de Consultaria e Assessoria</a>
        </div>
        <div class="card-body">
          <div class="chart-wrapper">
            <div id="chart-container">
              <canvas baseChart class="chart" [data]="gcaManagerDoughnutChartData"
                [labels]="gcaManagerDoughnutChartLabels" [chartType]="gcaManagerDoughnutChartType"
                [options]="chartOptions"></canvas>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

</div>